.slider {
  width: 90rem;
  max-height: 100vh;
  margin: auto;
  border-radius: 1.25rem;
  display: flex;
}

.swiper-wrapper {
  margin-bottom: 100px !important;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-scrollbar {
  height: 5px !important;
  position: absolute !important;
  bottom: 32px !important;
  background-color: rgba(189, 187, 187, 0.662) !important;
}

.swiper-scrollbar-drag {
  background-color: white !important;
}
