body {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 64rem; /* Set your desired max width */
  overflow: hidden;
  border-radius: 16px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  object-fit: cover;
  flex: 0 0 auto; /* Ensures the image doesn't shrink */
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 32px;
  width: 94%;
  left: 3%;
}

.progress-bar-child {
  height: 0.3125rem;
  flex: 1;
  margin: 0 4px; /* Add margin between progress bar children */
  background-color: #ffffff44;
  position: relative;
  overflow: hidden;
}

.progress-bar-child.active .progress-bar-fill {
  height: 100%;
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  left: 0;
  animation: fillWidth 3s linear; /* Animation duration set to 5 seconds */
}

@keyframes fillWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
